@layer base {
    [hidden] {
        display: none !important;
    }

    body {
        @apply selection:bg-accent-light/20 antialiased tracking-tight;
        font-feature-settings: "ss01", "ss02", "cv01";
        text-rendering: optimizeLegibility;
        font-synthesis: none;
    }
}

@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-background-light;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-accent-light/50 rounded-full;
    }
}
